<% content_for :title, "Homepage" %>

<%= render "shared/header" %>

<div class="flex flex-col items-center px-4 py-2 gap-4 relative z-10">
  <div class="flex flex-col items-center px-4 py-8 gap-12">
    <div class="flex flex-col items-center gap-4">
      <h2 class="text-3xl font-outfit font-bold text-white">What's your inspiration today ?</h2>
      <p class="text-xl font-outfit text-white">Find your favorite music genre and let the magic begin with one of our templates !</p>
      <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
<dotlottie-player src="https://lottie.host/b86bf942-1e99-43e2-a329-64191c6e659d/LRRZ4ef30s.lottie" background="transparent" speed="1" style="width: 80px; height: 80px" loop autoplay></dotlottie-player>

    </div>

    <%= render "shared/cards" %>

    <h2 class="text-3xl font-outfit font-bold text-yelloww">Or</h2>

    <div class="flex flex-col items-center">
      <%= form_with url: drumracks_path, method: :get, class: "w-full sm:w-auto", data: { turbo_frame: 'drumracks_search_results', controller:'search-drumracks-hp' } do %>
        <div class="flex items-center w-full sm:w-auto mb-4">
          <%= text_field_tag :query,
              params[:query],
              class: "mt-2 h-12 px-4 py-2 rounded border-2 border-yelloww font-gillSans shadow-md w-full sm:w-72",
              placeholder: "Search genre or user...",
              data: { "action": "keyup->search-drumracks-hp#search" }
          %>
        </div>
      <% end %>
      <div class="flex flex-col items-center mb-8">
        <p class="text-xl font-outfit text-white">Browse DrumnLearn community music !</p>
      </div>
    </div>

    <%= turbo_frame_tag :drumracks_search_results do %>
      <%= render "shared/community", drumracks: @drumracks %>
    <% end %>

  </div>

  <%= render "shared/footer" %>
</div>



<%= render "drumracks/blur_neons" %>
