<% content_for :title, "User profile" %>
<div class="ml-4 mt-6 mr-4 flex flex-col content-center">
  <div class="flex flex-col mr-8 mb-8">
    <div class="flex justify-between">
      <%= link_to root_path, class: "mb-4 bg-yelloww w-32 font-outfit font-semibold text-center rounded-md w-1/2 p-2 hover:bg-blackk hover:text-yelloww transform border-2 border-yelloww transition-transform duration-200 cursor-pointer inline-flex items-center justify-center" do %>
  <!-- Left Arrow Icon (Font Awesome) -->
      <i class="fas fa-arrow-left mr-2"></i>
      Homepage
      <% end %>
      <% if @user == @current_user %>
        <div>
          <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "bg-yelloww w-1/6 font-outfit font-semibold text-center rounded-md w-1/2 p-2 hover:bg-blackk hover:text-yelloww transform border-2 border-yelloww transition-transform duration-200 cursor-pointer" %>
          <%= link_to "Edit", edit_user_registration_path, class: "bg-yelloww w-1/6 font-outfit font-semibold text-center rounded-md w-1/2 p-2 hover:bg-blackk hover:text-yelloww transform border-2 border-yelloww transition-transform duration-200 cursor-pointer" %>
        </div>
      <% end %>

    </div>

    <div class="flex flex-col mt-4 items-center justify-center gap-4">

      <%= cl_image_tag @user.profile_picture.key, class: "w-40 h-40 rounded-full object-cover border-2 border-yelloww" %>

    </div>
  </div>

  <h2 class="text-5xl font-bold text-center font-outfit text-white mb-8"><%= @user.username %></h2>
  <% if !@user.bio.blank? %>
      <h3 class="text-2xl text-center font-outfit text-white mb-4"><%= @user.bio %></h3>
  <% end %>

  <div class="text-center">
    <% if @user.soundcloud_link.present? %>
    <%= link_to @user.soundcloud_link,
                class: "inline-flex items-center gap-2 text-2xl text-yelloww hover:text-yellow-400 transition-colors duration-200",
                target: "_blank",
                rel: "noopener noreferrer",
                title: "Visit #{@user.username}'s Soundcloud profile" do %>
      <i class="fa-brands fa-soundcloud"></i>
      <span class="font-bold">Soundcloud</span>
    <% end %>
  <% end %>
  </div>

  <div class="flex flex-col justify-center items-center ml-6 mr-6 mb-24 gap-6">

    <div class="w-full flex flex-col mt-8 gap-4 pbt-6 pb-6 shadow-lg p-8 md:w-1/2 bg-greyy border-2 border-yelloww rounded-lg mb-4 md:mb-0 " style="box-shadow: inset 0 0 5px 6px rgba(0, 0, 0, 0.35);">
      <div class="flex flex-col items-center space-y-4">
        <h2 class="text-3xl text-center font-bold font-outfit text-yelloww">
          Drumracks
        </h2>
      </div>
      <% if @user_drumracks.present? %>
        <ul class="flex items-center justify-center flex-wrap gap-4">
          <% @user_drumracks.each do |drumrack| %>
            <%= render "shared/music_card", drumrack: drumrack, display_like_button: true, display_share_link: true %>
          <% end %>
        </ul>
      <% else %>
        <p class="text-lg font-outfit text-white">No drumracks created yet.</p>
      <% end %>
    </div>


    <div class="w-full flex flex-col mt-8 gap-4 pbt-6 pb-6 shadow-lg shadow-black-500/50 p-8 md:w-1/2 bg-yelloww rounded-lg mb-4 md:mb-0 " style="box-shadow: inset 0 0 5px 6px rgba(0, 0, 0, 0.35);">
      <div class="flex flex-col items-center space-y-4">
        <h2 class="text-3xl text-center font-bold font-outfit text-black">
          Favorites
        </h2>
        <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
        <dotlottie-player
          src="https://lottie.host/c19c9c7d-4f0a-41a2-946f-ca267b063ee6/66KxjAgULY.lottie"
          background="transparent"
          speed="1"
          style="width: 80px; height: 80px"
          loop
          autoplay
        ></dotlottie-player>
      </div>
      <% if @user_liked_drumracks.present? %>
        <ul class="flex items-center justify-center flex-wrap gap-4">
          <% @user_liked_drumracks.each do |drumrack| %>
            <%= render "shared/music_card", drumrack: drumrack, display_like_button: true, display_share_link: false %>
          <% end %>
        </ul>
      <% else %>
        <p class="text-lg font-outfit text-black">No drumracks liked yet.</p>
        <%= link_to "Pick a drumrack", drumracks_path, class: "text-blue-500 underline" %>
      <% end %>
    </div>

  </div>

</div>
